.popup-area.visible
    .popup
        i.fa.fa-times.close-popup
        h1.popup-title افزودن دوره جدید
        .two-side-cont
            .part 
                form(action="/dashboard/") 
                    .text-input 
                        i.fa.fa-pencil 
                        input(type="text" name="title" placeholder="عنوان دوره")
                    .text-input 
                        i.fa.fa-pencil 
                        input(type="text" name="title" placeholder="عنوان دوره")
                    
            .break-side 
            .part 