link(rel="stylesheet", href="/css/components/add-course.css")
.popup#add-product-popup
    i.fa.fa-times.close-popup
    h1.popup-title افزودن محصول جدید
    form(action="/upload/add-product" enctype="multipart/form-data" method="POST") 
        .two-column
            .column
                .text-input 
                    i.fa.fa-pencil 
                    input(type="text" name="title" placeholder="عنوان محصول")
                .text-input 
                    i.fa.fa-user 
                    input(type="text" name="category" placeholder="دسته بندی")
                .text-input 
                    i.fa.fa-dollar
                    input(type="number" name="price" placeholder="هزینه (ریال)")
                .text-input 
                    i.fa.fa-dollar
                    input(type="text" name="fullPrice" placeholder="قیمت بدون تخفیف")
                .text-input 
                    i.fa.fa-check
                    input(type="number" name="numberOfAvailable" placeholder="تعداد موجود")
                .check-input 
                    input(type="checkbox" name="available" id="available" value="true" checked)
                    label(for="available") در دسترس
                .check-input 
                    input(type="checkbox" name="showInHome" id="showInHome" value="true" checked)
                    label(for="showInHome") نمایش در صفحه اصلی
                
            .break-side 
            .column
                textarea(name="description" placeholder="توضیحات")
                .upload-area انتخاب عکس کاور
                    i.fa.fa-cloud-upload
                    input.file(type="file" name="myFile")
            button.submit(type="submit")
                i.fa.fa-save 
                | ثبت 
script(src="/js/add-product.js") 