doctype html

html
    head
        title Register
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/users.css')
        link(rel="stylesheet", href="/css/components/messages.css")
    body
        include ./components/messages
        a.back-home(href="/") 
            | بازگشت به صفحه اصلی 
            i.fa.fa-home
        .reg-area
            .image
                img(src="/img/users/bg-2.jpg", alt="")
            .register
                h1 ورود
                h2 برای ورود شماره موبایل خود را وارد نمایید
                form(action="/users/login" id="register" method="POST")
                    input.textinput(type="text" placeholder="شماره موبایل خود را وارد کنید" name="phone" value= "#{ typeof phone != 'undefined' ? phone: '' }" required)
                    .check
                        input(type="checkbox" name="rules" id="rules" required)
                        label(for="rules") 
                            a(href="#") شرایط و قوانین 
                            | را خوانده ام و می‌پذیرم.
                    button.submit(type="submit" ) ارسال رمز یک بار مصرف
                    a.link(href="/users/login") 
                        i.fa.fa-user-plus
                        | ثبت نام

        script(src="/js/numberFixer.js") 
