extends layout

block styles
    link(rel="stylesheet", href="/css/error.css")
block content
    .error-area
        .text.success
            h1.title عضویت در خبرنامه با موفقیت انجام شد
            p پیشنهادات شگفت انگیز و تخفیف های ویژه شماره از طریق پیام کوتاه به شماره تلفن شما ارسال می‌شود.
            a.back(href="/") بازگشت به صفحه اصلی

    script(src="/javascripts/error.js")