@media only screen and (min-width: 800px) {
    footer{
        background-color: var(--darkblue);
        overflow: hidden;
        color: white;
        padding-bottom: 3vw;
        position: relative;
    }
    footer .hidden-overflow{
        width: 90%;
        margin: 3vw auto;
    }
    footer h1.title{
        font-family: 'iransans';
        font-size: 1.3vw;
        margin: 0;
        margin-bottom: 1vw;
    }
    footer .contact{
        float: right;
        width: 30%;
    }
    footer .quick-links {
        float: right;
        width: 20%;
    }
    footer .news-letter {
        float: right;
        width: 30%;
    }
    footer .text{
        color: var(--lightgray);
        font-size: 1vw;
    }
    footer input.text{
        background-color: transparent;
        border: var(--gray) 0.1vw solid;
        font-size: 1.1vw;
        font-family: 'iransans';
        padding: 0.5vw 2vw;
        display: block;
        width: 77%;
        border-radius: 0.5vw;
        margin: 0.5vw 0;
    }
    footer input.submit{
        background-color: var(--yellow);
        color: white;
        border: none;
        font-size: 1.1vw;
        font-family: 'iransans';
        padding: 0.5vw 2vw;
        display: block;
        width: 93%;
        border-radius: 0.5vw;
        margin: 1vw 0;
        text-align: center;
    }
    footer a{
        font-family: 'iransans';
        font-size: 1vw;
        text-decoration: none;
        color: var(--lightgray);
        display: block;
        width: fit-content;
        max-width: 80%;
        margin-bottom: 0.5vw;
    }
    footer a i{
        padding-left: 0.5vw;
    }
    footer a:hover{color: var(--yellow);}
    footer h1.copy-right{
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        right: 0;
        font-size: 1vw;
        color: var(--lightgray);
    }
}
@media only screen and (max-width: 800px) {

}