@media only screen and (min-width: 800px) {
    header{
        position: relative;
        overflow: hidden;
        height: 20vw;
    }
    header .video{
        position: absolute;
        top: -5vw;
        right: 0;
        width: 100%;
    }
    header .overlay{
        background-image: linear-gradient(90deg, rgba(24, 15, 199, 0.555), rgba(16, 16, 180, 0.116), rgb(16, 8, 173));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    header .info{
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        width: 90%;
        z-index: 10;
        padding: 0 5%;
    }
    header .info .contact{
        float: right;
        color: white;
        padding: 0.5vw 1vw;
        font-family: 'iransans';
        font-size: 1vw;
    }
    header .info .contact a{
        color: white;
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1vw;
    }
    header .info .contact a:hover{
        color: var(--yellow);
    }
    header .info .contact i{
        color: var(--yellow);
        font-size: 2vw;
        padding: 0 0.5vw;
    }
    header .info a.link{
        float: left;
        color: white;
        text-decoration: none;
        margin: 1vw 1vw;
        padding: 0.2vw 1vw;
        border: white 0.1vw solid;
        border-radius: 0.5vw;
        font-family: 'iransans';
        font-size: 1vw;
    }
    header .info a.link:hover{
        background-color: var(--yellow);
        border: var(--yellow) 0.1vw solid;

    }
    header .info a.link i{
        padding: 0 0.5vw;
    }
    header nav{
        position: absolute;
        top: 4vw;
        right: 6%;
        width: 82%;
        background-color: white;
        overflow: hidden;
        z-index: 10;
        border-radius: 0.5vw;
        padding: 0 3%;
    }
    header nav a.logo{
        display: block;
        float: right;
        padding: 0.3vw 2vw;
        padding-left: 5vw;
    }
    header nav a.logo img{
        width: 2.5vw;
    }
    header nav a.link{
        float: right;
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.1vw;
        display: block;
        color: var(--text);
        padding: 0.5vw 1vw;
        padding-top: 1.3vw;
        padding-bottom: 0;
        font-weight: bold;
    }
    header nav a.link:hover{color: var(--orange);}
    header nav a.icon{
        float: left;
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.8vw;
        display: block;
        color: var(--gray);
        padding-left: 0.7vw;
        padding-top: 1vw;
    }
    header nav a.icon:hover{color: var(--hover);}
    header .title-view {
        position: absolute;
        top: 20vw;
        right: 6%;
        z-index: 10;
        color: white;
    }
    header .title-view h2{
        font-size: 1vw;
        font-weight: normal;
        margin: 0;
    }
    header .title-view h1{
        font-size: 3.5vw;
        margin: 0;
    }
    header .title-view h1 .orange{
        color: var(--yellow);
        display: inline;
    }
    header .title-view h2.border{
        border-right: var(--yellow) 0.3vw solid;
        padding-right: 0.8vw;
    }
    header img.top-logo{
        position: absolute;
        top: 12vw;
        left: 6%;
        z-index: 10;
        width: 22vw;
    }
}