/* --------- Declarations ----------- */
@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}
@font-face{
    font-family: 'btitr';
    src: url('btitr.ttf');
}
:root {
    --light-background: #e4e4e4;
    --dark-background: #364152;
    --dark: #232A3A;
    --text: #4B4040;
    --hover: #FF8A47;
    --orange: #EEAB34;
    --yellow: #EEAB34;
    --green: #0EB582;
    --lightgreen: #e4f5f0;
    --red: #FF545D;
    --button: #3FAEE0;
    --blue: #3FAEE0;
    --darkblue: #050547;
    --gray: rgb(156, 156, 156);
    --lightgray: rgb(201, 201, 201);
    --active: #BE892A;
}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: var(--light-background);
}
body::-webkit-scrollbar {width: 0.5vw;}
body::-webkit-scrollbar-track {background: var(--gray);}
body::-webkit-scrollbar-thumb {background: var(--dark);}
body::-webkit-scrollbar-thumb:hover{background: var(--blue);}
.black-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 105;
}
.transparent-modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 105;
}
.hidden {
    display: none;
}
.visible{
    display: block;
}
.center {
    text-align: center;
}
.hidden-overflow{overflow: hidden;}
table{border-collapse: collapse;}
@media only screen and (min-width: 800px) {
    .dashboard{
        background-color: white;
        border-radius: 0.5vw;
        width: 90%;
        margin: 2vw auto;
        overflow: hidden;
    }
    .dashboard .side-bar{
        margin: 0;
        float: right;
        width: 23%;
        margin-right: 2%;
        margin-bottom: 2vw;
    }
    .dashboard .content-area{
        margin: 0;
        width: 72%;
        margin-right: 2%;
        float: right;
    }
    .dashboard .side-bar .valet{
        background-color: var(--green);
        border-radius: 0.5vw;
        overflow: hidden;
        margin-top: 2vw;
    }
    .dashboard .side-bar .valet i{
        float: right;
        color: white;
        font-size: 3vw;
        margin: 1vw;
    }
    .dashboard .side-bar .valet .info{
        float: right;
    }
    .dashboard .side-bar .valet .info h1{
        color: white;
        font-family: 'iransans';
        font-size: 1.2vw;
        margin: 0;
        font-weight: normal;
        margin-top: 0.5vw;
    }
    .dashboard .side-bar .valet .info h2{
        color: white;
        font-family: 'iransans';
        font-size: 1.2vw;
        margin: 0;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
    }
    .dashboard .side-bar .links{
        background-color: var(--orange);
        border-radius: 0.5vw;
        overflow: hidden;
        margin-top: 1vw;
        padding: 1vw 0;
    }
    .dashboard .side-bar .links a{
        color: white;
        font-family: 'iransans';
        display: block;
        font-size: 1.3vw;
        padding: 0.5vw 1vw;
        margin: 0.1vw 1vw;
        text-decoration: none;
        border-radius: 0.5vw;
    }
    .dashboard .side-bar .links a.active, .dashboard .side-bar .links a:hover{
        background-color: var(--active);
    }
    .dashboard .side-bar .links a i{
        padding: 0 0.5vw;
    }
    .user-info h1.wellcome{
        color: var(--dark);
        font-family: 'iransans';
        font-size: 1.3vw;
        margin: 0;
        margin-top: 3vw;
    }
    .user-info h1.title{
        color: var(--green);
        margin: 0;
        padding: 0;
        margin-top: 4vw;
        border: none;
        font-family: 'iransans';
        font-size: 1.1vw;
    }
    .user-info h1.title i{
        padding-left: 0.5vw;
    }
    .user-info .two-column{
        overflow: hidden;
        margin-top: 1vw;
    }
    .user-info .two-column .column{
        float: right;
        width: 40%;
    }
    .user-info .two-column .column .item{
        color: var(--text);
        margin: 0.8vw 0;
    }
    .user-info .two-column .column .item i{
        width: 2vw;
        color: var(--darkblue);
    }
    .user-info .two-column .column .item .title{
        display: inline;
        color: var(--darkblue);
        font-family: 'iransans';
        font-size: 1.2vw;
        font-weight: bold;
        padding-left: 0.3vw;
    }
    .user-info .links{
        overflow: hidden;
        margin-top: 1vw;
    }
    .user-info .links a{
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.3vw 1vw;
        border-radius: 0.3vw;
        display: block;
        float: right;
        margin-left: 0.5vw;
    }
    .user-info .links a i{
        padding: 0 0.5vw;
    }
    .user-info .links a.green{
        color: var(--green);
        border: var(--green) 0.1vw solid;
    }
    .user-info .links a.green:hover{
        color: white;
        background-color: var(--green);
    }
    .user-info .links a.red{
        color: var(--red);
        border: var(--red) 0.1vw solid;
    }
    .user-info .links a.red:hover{
        color: white;
        background-color: var(--red);
    }
    .popup{
        display: none;
        position: fixed;
        background-color: white;
        top: 7vw;
        right: 18%;
        width: 60%;
        padding: 2vw 2%;
        z-index: 1000;
        border-radius: 1vw;
    }
    .popup i.close-popup{
        position: absolute;
        top: 1vw;
        left: 1.5vw;
        color: var(--gray);
        cursor: pointer;
    }
    .popup i.close-popup:hover{
        color: var(--red);
    }
    .popup h1.popup-title{
        color: var(--blue);
        font-family: 'iransans';
        font-size: 1.3vw;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 1vw;
    }
    .upload-area i{padding: 0 0.5vw;}
    .upload-area {
        border: lightblue 2px dashed;
        position: relative;
        cursor: pointer;
        padding: 2vw 0;
        text-align: center;
        color: #798AAF;
        font-family: 'iransans';
        font-size: 1.3vw;
        width: 98%;
        border-radius: 1vw;
        margin-bottom: 1vw;
    }
    .upload-area:hover {
        color: white;
        border: lightblue 2px solid;
        background-color: lightblue;
    }
    input.file {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}

@media only screen and (max-width: 800px) {
    
}
.hidden{display: none;}
.visible{display: block;}